---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/**
 * Reset some basic elements
 */
body, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
 
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #111;
    background-color: #fafafa;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
    margin-bottom: 25px;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.head_svg{
    display: block;
    margin: 0 auto;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
    margin-left: 30px;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Links
 */
a {
    color: #2d2d2d;
    text-decoration: none;
}

a:visited {
    color: #111;
}

a:hover {
    color: #ef7979;
}

/**
 * Blockquotes
 x
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #fff;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(700px - (30px * 2));
    max-width: calc(700px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    float: relative;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 10px;
}

.icon > svg path {
    fill: #000;
}

/**
 * Site header
 */
.site-header {
    height: 100px;
    position: relative;
}

.site-title {
    font-size: 12px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
}


.site-title, .site-title:visited {
    color: #424242;
}

.site-nav {
    text-align: center;
    line-height: 118px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    color: #555;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
  
}

.site-nav .page-link:not(:first-child) {
    margin-left: 48px;

}

.site-nav .page-link.current {
    color: #ef7979;
}


.page-link:hover {
    color: #ef7979;
}

contact-list,
.social-media-list {

    margin: 10px;
    text-align: center;
}

.page-link:visited {
    color: #111;
}


/**
 * /*Site footer
 */
/*.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-list,
.social-media-list {

    margin: 10px;
    text-align: center;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
    .footer-col-1,
  .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}

@media screen and (max-width: 640px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}*/
/***/
 * Page content
 */
.page-content {
    padding: 30px 0;
    
}

.page-heading {
    font-size: 12px;
}

.post-list {
    margin-top: 24px;
    margin-left: 0;
    list-style: none;
    text-align: center;
}

.post-list > li {

    margin-bottom: 70px;
}

.post-meta {
    font-size: 12px;
    color: #a6a6a6;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 20px;

}
.post-pre{
    font-size: 13px;
    text-align: center;
}

.post-link {
    margin-top: 14px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: 30px;
    text-align: center;
}

.post-title {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1;
}

.post-content {
    margin-bottom: 200px;
    font-size: 14px;

}

.post-content h2 {
    font-size: 28px;
}


.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 20px;
}


.aboutpic{
    width: 100%;
    border-radius: 4px;

}

.image {
    margin: 0 auto 30px;
    text-align: center;
    display: block;
}
