@media screen and (max-width: 800px) {

    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }

    .post-content h3 {
        font-size: 22px;
    }

    .post-content h2 {
        font-size: 28px;
    }

    .post-content h4 {
        font-size: 18px;
    }

    .post-content {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.5em;
    }

     .post-title {
        font-size: 23px;
    }

    .site-nav {
        position: relative;
        display: block;
        top: 9px;
        margin: 0 auto;
        background-color: #fafafa;
        border-radius: 5px;
        text-align: center;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .page-link:not(:first-child) {
        margin-left: 36px;
    }

    .site-nav .menu-icon > svg {
        width: 18px;
        height: 15px;
    }

    .site-nav .menu-icon > svg .path {
        fill: #424242;
    }

    .site-nav .trigger {
        clear: both;
        display: none;
        text-align: center;
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        padding: 5px 10px;
    }
}