<header class="site-header">

  <div class="wrapper">

    <div class="site-nav">
 
        <a class="page-link{% if page.categories contains 'index' or page.categories contains 'article' %} current{% endif %}" href="{{ '/' | prepend: site.baseurl }}">BlOG</a>
        <a class="page-link{% if page.categories contains 'work' %} current{% endif %}" href="{{ '/work/' | prepend: site.baseurl }}">WORK</a>
        <a class="page-link{% if page.categories contains 'about' %} current{% endif %}" href="{{ '/about/' | prepend: site.baseurl }}"> ABOUT</a>

  </div>

</header>